body{
    background: rgb(93, 183, 211);
}
.slider{
    width: 800px;
    position: relative;
    margin:3% 18%;
}
.slider img{
    max-width: 100%;
    border: 5px solid #fff;
    border-radius: 20px;
}
.content{
    position: relative;
    height: 500px;
}
.content .item{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s;
}
.content .item.active{
    opacity: 1;
    transition: all 0.7s;
}
.slider .next,.slider .prev{
    position: absolute;
    top: 46%; 
    border: none;
    font-size: 45px;
    background: transparent;
    color: white;
    cursor: pointer;
}
.slider .prev{
    left: 10px;
}
.slider .next{
    right: 10px;
}
.slider button:focus{
    outline: none;
}