.accordion .item .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #28a745fa;
    padding: 7px 15px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.accordion .item .content{
    max-height: 0px;
    overflow: hidden;
    transition: .4s all ease-in;
}
.accordion .item .content p{
   padding:10px;
}

